@charset="UTF-8";
*{margin:0;padding:0;list-style: none;}
a{text-decoration:none;color:#666;cursor:pointer;}
.clearfix{display: block;content: '';clear:both;}
.clearfix{zoom:1;}
header{
	background: #fff;
	border-bottom: 1px solid #eaeaea
}
header .content{
	height: 90px;
	display: flex;
	align-items: center;
    position: relative;
}
header a img{
	width: 104px;
    height: 40px;
}


/*城市选择*/
.city-name{
	cursor: pointer;
	margin-left: 14px;
	width: 40px;
	font-size: 14px;
	background: url(../img/arr-down.9f1dbfdd.png) no-repeat right center ;
}
.citylist{
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 9999;
    background: #fff;

    box-sizing: border-box;
    border: solid 1px #ececec;
   
    font-size: 12px;
    line-height: 20px;
    padding: 15px 20px;
    width: 440px;

}
.top-rows{
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}
.citylist li{
    cursor: pointer;
}
.city-item{
    cursor: pointer;
    color: #333;
   
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
    line-height: 1.5;
}
.citylist .title{
    font-weight: bold;
    
    color: #000;
    font-size: 12px;
    width: 90px;
}
.citylist .row,.hot-cities{
    display: flex;
}
.city-indexes{
    padding-top: 15px;
    margin-bottom: 10px;
}
.citylist .row ul,.city-indexes ul{
    display: flex;
    flex-wrap: wrap;
}
.hot-cities ul{
    display: inline-block;
    width: 360px;

}
.hot-cities ul li{
    display: flex;
    
    
}
.hot-cities .item{
    font-size: 12px;

}

.hot-cities{
    
    margin-top: 24px;
    overflow: scroll;
    height: 150px;
}
.hot-cities ul .items{
    display: flex;

    flex-wrap: wrap;
}
.capital{font-size: 17px;
    color: #333;
    font-weight: bold;
    width: 28px;
   }    
.citylist .selected{
        background-color: #fff5f8;
    color: #ff2661;
    cursor: pointer;

    
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
    line-height: 1.5;
}


.cap{
        cursor: pointer;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
    background-color: #eee;
    color: #666;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
}
/*三个主页*/
.menu{
	display: flex;
	margin-left: 42px;
}
.menu a{
    cursor: pointer;
    margin-right: 35px;
    box-sizing: border-box;
    height: 90px;
    line-height: 90px;

    font-size: 18px;
    color: #535353;
    font-weight: 500;
    padding-top: 5px;
}
.menu .active{

	border-bottom: 4px solid #ea3667;
}
.search{
	margin-left: 40px
}
.search-t{
	margin-top: 18px
}
.search-t input{
    background-image: url(../img/search-grey.93e495f0.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 9px center;
    float: left;
    width: 328px;
    font-size: 14px;
    padding: 8px 8px 8px 34px;
    height: 15px;
    border: 1px solid #ececec;
    border: solid 2px #ffa2bc;
    border-right: 0;
    outline: none;

}
.search-t button{
	    float: left;
    display: block;
    height: 35px;
    width: 80px;
    background-color: #ea3667;
    border: 0;
    color: #fff;
    font-size: 16px;
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.search-b ul{
	margin-top: 4px;
	display: flex;
}
.search-b ul li{
	margin-right: 10px
}

.search-b ul li a{
	color: #999
}



.header-right{
	margin-left:26px;
}
.app,.login{
	display: flex;
	align-items: center;
	margin-left: 30px;
}
.app-icon{
	background: url(../img/arr-down.9f1dbfdd.png) no-repeat right center;
}
.login{
    display: flex;
    cursor: pointer;
    position: relative;
}
.submenu-account{
    position: absolute;
    top: 84px;
    right: 0;
    width: 154px;
    height: 156px;
    border: 1px solid #ececec;
    background: #fff;
    z-index: 9999

}
.abcdefg{
    display: none
}
.submenu-account .submenu-inner{
    margin-top: 10px;
    margin-left: 0;

}
.abcdefg::before{
    position: absolute;
    top:-20px;
    right:40px;
    content:'';
    border:10px solid transparent;
    border-bottom-color:#efefef;
}
.submenu-account .submenu-inner li{
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 124px; 
    
    font-size: 12px;
    
    padding: 0 14px;
    height: 36px;
    line-height: 36px;
}
.submenu-account .submenu-inner li:hover{
    background-color: #e5e5e5
}
.login .logimg{
    
     width: 44px;
    height: 44px;
    border: 1px solid #e5e5e5;
    border-radius: 50%
}
.logimg{
    margin-right: 4px;
}
.login .logimg img{
    width: 44px;
    height: 44px;
    border-radius: 50%
}
.login .sanjiaoxing{
    width: 10px;
    height: 10px;
    display: inline-block;
    background:url(../img/arr-down.9f1dbfdd.png) no-repeat right center;
}
.app-icon,.login-icon{
	display: inline-block;

	height: 44px;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    margin-left: 6px
}
.app--icon,.login--icon{
	display: flex;
}
.app--icon img{
	width: 14px;
	height: 22px;
	
}
.login--icon img{
	width: 18px;
	height: 20px;
}
{

}
.header-right{
	display: flex;
}
.qr{
    height: 84px;
    width: 84px;
}
.app{
	position: relative;
}
.apptwo{
	position: absolute;
	left: -50px;
	top: 60px;
	width: 212px;
	height: 200px;
	border: 1px solid #f4f5fa;
    background: #fff;
    display: none;
    z-index: 9999
	
}
.app--icon{
    cursor: pointer;
}
.apptwo::before{
    position: absolute;
    top:-20px;
    left:90px;
    content:'';
    border:10px solid transparent;
    border-bottom-color:#efefef;
}
.submenu-inner{
     margin-top: 20px;
    margin-left: 20px
}
.submenu-inner li{
 	display: flex;
 	width: 200px;

}
.submenu-inner li .title{
	font-size: 16px;
	margin-top: 10px;

}
.submenu-inner li .txt{
   margin-left: 10px;
   
}
.submenu-inner li .desc{
	margin-top: 10px;
	color: #999
}
.cover-login{
    display: none;

}

.cover{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
    z-index: 9999
}

.light-login{
	position: fixed;
	top:20%;
	left: 40%;
    width: 435px;
    background: #fff;
    z-index: 9999
}
.titles{
	margin-top: 40px;
	display: flex;
	justify-content: center;

}
.close{
	position: absolute;
	top:0;
	right: 0;
	cursor: pointer;
}
.close img{
	width: 44px;
	height: 44px;
	
}

.title-quick-login{
   margin-right: 30px;
  	padding-bottom: 9px;
    color: #262626;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    width: 80px;
    background-size: 100px 46px;
    display: inline-block;
    font-size: 20px;
  	border-bottom: 4px solid #fea3bc;
  	} 



.title-login{
     margin-right: 30px;
  	padding-bottom: 9px;
    color: #999;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    width: 80px;
    background-size: 100px 46px;
    display: inline-block;
    font-size: 20px;
  	}
.form-login .row,.form-quick-login .row {
  		width: 343px;
  		margin-left: 40px;
  		margin-bottom: 20px;
  	}
.form-login .row input,.form-quick-login .row input{
    border-radius: 3px;
   font-size: 14px;
    width: 100%;
    display: block;

    border: 1px solid #e5e5e5;
    padding: 7px 0 7px 13px;
    height: 50px;
    box-sizing: border-box;


}
.row .input-getcode{
    width: 235px
}
.form{
	display: flex;
	flex-direction: column;
    height: 300px;

}
.row-getcode{
	display: flex;
	
}
.btn-getcode{
    border: 1px solid #e5e5e5;
    border-left: 0;
    font-size: 14px;
    padding: 0;
    width: 106px;
    line-height: 48px;
    text-align: center;
    color: #ea3667;
    background: #fff;
    cursor: pointer;


}
.form{
	margin-top: 40px;
}
.row .btn-submit{
	color: #fff;
	cursor: pointer;
	background: #ff2661;
	opacity: 0.7;
    font-size: 18px;
}
.hint{
    
    font-size: 12px;
    color: #999;
    
    text-align: center;
}
.form-login{
    display: none;
}


/*内容*/
.lxl{width:1200px;margin: 0 auto;display: flex;margin-top: 20px;}
.lxltop{height:44px;margin-bottom: 20px;border-bottom:1px solid #eaeaec }
.top1{display: inline-block;width:74px;height: 44px;margin-right: 40px;border-bottom: 3px solid #ff2661;
	text-align: center;line-height: 44px;font-size:16px;box-sizing: border-box;}
.top2{display: inline-block;width:74px;height: 44px;margin-right: 40px;
	text-align: center;line-height: 44px;font-size:16px;}
.lxlleft{width:880px;}
.lxltext{width:880px;height:188px;border:1px solid #eaeaec;padding:20px 20px 10px;box-sizing: border-box;}
.lxltext1{margin-bottom: 20px;display:flex;}
.text1{height:24px;line-height: 24px;font-size:14px;margin-right: 24px;width:56px;}
.text2{width:755px;}
.text2 .item{display: inline-block;height:24px;line-height:24px;font-size: 14px;margin-right: 10px;
		padding:0 8px;box-sizing: border-box;float: left;}
.active3{background:#ea3667 ;color:#fff;}
.othercity{color:#ea3667;position:relative;margin-left:-10px;cursor:pointer;}
.cities{position:absolute;left:-91px;top:45px;width:482px;height:278px;border:1px solid #eaeaec;
	padding:15px 20px;box-sizing: border-box;background: #fff;display: none;z-index: 10}
.arr-up{position: absolute;left:110px;top:-14px;width:24px;height:15px;background: url(../img/4-lxl10.png) no-repeat center center ;background-size: 100% 100%;}
.title3{color:#000;font-size: 12px;line-height: 20px;font-weight: bold;}
.cells{width:440px;height:82px;}
.cell{ width:20px;height:20px;margin-right: 7px;margin-top: 7px;background: #eee;color:#666;
	text-align: center;line-height: 20px;float:left;cursor: pointer;}
.allarea{width:440px;height:150px;overflow:scroll;margin-top:24px;}
.area1{float:left;color:#333;font-weight:bold;font-size:18px;width:28px;}
.area2{float:left;width:395px;overflow: hidden;}
.area3{float:left;color:#666;height:24px;line-height: 24px;margin-right: 15px;margin-bottom:15px;padding:0 8px;}






.lxltext2{width:880px;height:41px;border:1px solid #eaeaec;box-sizing: border-box;margin-top: 20px;}
.text2-1{float:left;height:40px;line-height: 40px;width:100px;text-align: center;border-right:1px solid #eaeaec;
	font-size: 14px;}
.text2-1 a{color:#333;}
.text2-1 .active1{color:#ea3667;}
.text2-2{float:right;height:20px;margin:10px 30px 10px 0;}
.text2-2-1{float:left;width:15px;height:15px;border:1px solid #eaeaec;box-sizing: border-box;margin-top: 3px;
	background:url(../img/4-lxl6.png) no-repeat center center;background-size:100% 100% }
.text2-2-2{float:left;font-size: 14px;line-height:20px;height:20px;margin-left: 6px;}

.lxltext3{width:880px;border:1px solid #eaeaec;box-sizing: border-box;border-top:none;padding: 0 28px;}
.text3-1{position:relative;height:200px;border-bottom: 1px solid #eaeaec;box-sizing: border-box;display: flex;padding:20px 0 ;}
.zhekou{position: absolute;left:0;top:20px;width:35px;height:48px;background:url(../img/4-lxlcount.png) no-repeat center center;
		background-size: 100% 100%;text-align: center;color:#fff;}
.cut{font-size:18px;}
.zhe{font-size: 12px}
.text3-1-1{width:118px;height:159px;}
.text3-1-2{width:517px;margin-left:28px; }
.text3-1-2 .title{color:#262626;font-size: 16px}
.text3-1-2 .title:hover{color:#ea3667;}
.seat{display: inline-block;height: 18px;width: 18px;line-height: 18px;font-size: 12px;text-align: center;
	border: 1px solid #61C2A2;color: #61C2A2;border-radius: 3px;}  
.ele{display: inline-block;height: 18px;width: 18px;line-height: 18px;font-size: 12px;text-align: center;
	border: 1px solid #96a3ff;color: #96a3ff;border-radius: 3px;}  
.pin{margin-top: 13px;margin-bottom:10px;font-size: 12px;}
.pin1{font-size: 16px;color:#ffb02e;font-weight: bold;}
.stm{font-size: 12px;margin-bottom: 3px;}
.text3-1-3-top{display:flex;font-size: 14px;color:#ff2661;justify-content: center;}
.tp1{margin-top:7px}
.tp2{font-size: 24px}
.tp3{font-size: 12px;padding-top:8px;color:#999;margin-left:3px;}
.text3-1-3-bottom{display: block;width:100px;height:42px;background: #ea3667;color:#fff;text-align: center;line-height: 42px;border-radius: 3px;margin-top:5px;}
.scr{font-size:12px;color:#999;width:488px;margin-top:10px;}
.scr-font{display: inline-block;width:12px;height:10px;background: url(../img/4-lxl2.png) no-repeat center center;
	background-size: 100% 100%;margin-bottom: 3px}
.scr-back{display: inline-block;width:12px;height:10px;background: url(../img/4-lxl3.png) no-repeat center center;
	background-size: 100% 100%; margin-bottom: 3px;margin-top: 5px;}
.lxlpage{width:880px;margin-top: 20px;}
.M-box2{float:right}
.lxlright{width:300px;margin-left:20px;}
.righttop{height:41px;border-bottom: 1px solid #eaeaec;}
.dowlad{display:block;width:64px;height:38px;line-height: 38px;border-bottom: 3px solid #ff2661;font-size: 16px;}
.qrcode{margin-top: 20px;display: flex;margin-bottom: 20px;}
.qrcode img{width:100px;height:100px;}
.coderight{margin-left:18px;}
.coderight a{display: block;margin-top:25px;margin-bottom:10px;font-size: 20px;color:#333;}
.coderight p{font-size: 12px;color:#999;}
.hactives-title{height:38px;border-bottom: 1px solid #eaeaec;}
.hactives-title-top{display:block;width:80px;height:35px;line-height:35px;font-size: 16px;border-bottom: 3px solid #ff2661;}
.cont{margin-top:20px;}
.content1{display: flex;height:109px;margin-bottom: 10px;}
.content1-left{width:82px;height:109px;}
.content1-right{margin-left:13px;}
.content1-right a{display:block;height:20px;line-height: 20px;font-size: 14px;color:#333;margin-bottom: 12px;}
.content1-right a:hover{text-decoration: underline;}
.content1-right span{font-size: 12px;color:#666;}
.watch{font-size: 12px;color:#ffb200;margin-top:2px;}
.content2{margin-top:15px;margin-bottom: 18px;height:22px;}
.content2 .count{font-style: italic;font-size: 20px;color:#999;}
.content2 a{font-size: 14px;display: inline-block;width:200px;line-height: 19px;margin-left:2px;color:#333;}
.content2 a:hover{text-decoration: underline;}
.lactives-title{height:38px;border-bottom: 1px solid #eaeaec;}
.lactives-title-top{display:block;width:64px;height:35px;line-height:35px;font-size: 16px;border-bottom: 3px solid #ff2661;}
.price{display: inline-block;font-size: 16px;color:#ff2661;}
.content3{height:62px;margin-top:15px;border-bottom: 1px dashed #eaeaec}
.title2{font-size: 14px;color:#333;}
.title2:hover{text-decoration: underline;}
.time{font-size: 12px;color:#999;margin-right:110px;}






